body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  width: 100%;
  height: 100vh;
  /* background-image: url('../img/background1.jpg');
  background-size: contain;
  background-repeat: no-repeat; */
}

.grid {
  min-width: 400px;
  width: 700px;
  /* height: 600px; */
  height: 100vh;
  /* TODO: 일단 주석 */
  /* background-image: url('../img/background1.jpg'); */
  /* background-image: url('../img/background1.jfif'); */
  background-image: url('../img/background3.jfif');
  background-size: cover;
  /* background-size: contain; */
  background-repeat: no-repeat;

  position: relative;
  font-size: 100px;
  text-align: center;
}

.doodler {
  width: 87px;
  height: 85px;
  /* background-image: url('../img/doodler-guy.png'); */
  background-image: url('../img/totoro.png');
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background-image: url('../img/platform.png');
  position: absolute;
}
